{% extends "base.html"%}
{% block title %}
    PLace list
{% endblock %}

{% block content %}

<div class="row mt-4 mb-3">
  <div class="col-4">
    <form action="" method="get" class="d-flex">
      <input type="text" class="form-control me-2" placeholder="Search" name="q" value="{{search_query}}">
      <button class="btn btn-primary">Search</button>
    </form>

  </div>
</div>
{% csrf_token %}
{% for place in places %}
<div class="container px-4 text-center">
    <div class="row gx-5">
      <div class="col">
        <img style="width: 35%; display: flex;" src="{{place.image.url}}" class="rounded mx-auto d-block" alt="...">
       <div class="p-3"><h2>{{place.name}}</h2></div>
       <p class=" fst-italic">{{place.description}}</p>
            <a href="{% url 'places:about_page' place.id %}" class="btn btn-primary">About</a>
      </div>
      
    </div>
  </div>
<br>
  {% endfor %} 
      
{% endblock %}