{% extends "base.html"%}

{% block content %}
<div class="card text-center w-50 mb-3 " style="display: flex; justify-content: center; align-items: center; background-color: rgb(156, 86, 86); ">
    <div class="card-body">
      <div style="  width: auto; text-align: center;" >
        <h3>Login page</h3>

        <form action="", method="post">
         {% csrf_token %}
 
         {{form.as_p}}
 
         <button type="submit" class="btn btn-light">Save</button>
         
    
        </form>
      </div>
    </div>
</div>
{% endblock %}